body {
    margin: auto 0;
}

/* NAV */
.main-nav {
    display: flex;
    list-style: none;
    font-size: 1.5em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    margin: 0;
    background-color: #848296;
}

li {
    padding: 20px;
}

li:hover { 
    background-color: #625AA7;
  }

a{
    color: white;
    text-decoration: none;
}

