/*  CSS VARIABLES */
:root {
    --primary: #ddd;
    --dark; #333;
    --light; #fff;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

html {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color; var(--dark);
}

.wrapper {
    display: grid;
    grid-gap: 20px;
}

/* NAVIGATION */

.main-nav ul {
    display: flex;
    justify-content: center;
    align-items: center; 
    padding 20px; 
    list-style: none;
}

.main-nav a {
    text-decoration: none;
    padding: 0.8rem;

}